body
{
	background-size:100%;
	background-repeat: no-repeat;
	position: relative;
	background-attachment: fixed;
    background-color:lightgreen;
}
.button
{
    display: inline-block;
    border-radius: 4px;
    background-color: green;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 500px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button span
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after
{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span
{
    padding-right: 25px;
}
.button:hover span:after
{
    opacity: 1;
    right: 0;
}
.title
{
	background-color: pink;
	font-size: 28px;
    padding: 20px;
	
}
.button3
{
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}
.button3
{
    background-color: white; 
    color: black; 
    border: 2px solid lightgreen;
}
.button3:hover
{
    background-color: green;
    color: Black;
}
.error
{
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;

}
